<div class="page-header">
  <h1 class="page-title">New Catalog Film</h1>
  <%= link_to "← Back", admin_catalog_films_path, class: "btn btn-sm" %>
</div>

<%= render 'form', catalog_film: @catalog_film %>
